*{
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'poppins' 'Actor' 'Adamina';

}

.hero{
    background-image: url("../Assets/moving\ 1.png");
    background-color: black;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color: #F5E83C;
    font-size: 50px;

}

.hero .menu li{
    color: #fff;
    list-style: none;
    padding-left: 40px;
    padding-right: 0px;
    
}
.link{
    text-decoration: none;
    color: #fff;
}

.hero .menu ul{
    display: flex;

    padding-right: 200px;
    padding-top: 30px ;
    
    
}

.hero .menu {
    
    float: right;  
}

.hero .one{
    padding-top: 120px;
    max-width: 40%;
    padding-left: 100px;
}

.button1{
    background-color: #F5E83C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border: none;
}

.button2{
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #F5E83C;
    border: none;
}

.linegradient {
    width: 160px;
    height: 5px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(30deg, rgb(221, 189, 7) 10%, rgb(29, 21, 1) 100%);
}
.about{
    padding-top: 30px;
    padding-bottom: 30px;
}

.about .image2 img{
    height: 500px ;
    width: 600px;
}
.hr1{
    height: 2px ;
    width: 2px ;
    background-image: linear-gradient(to right, yellow , black);
    padding-right: 100px;
    display: inline;


    
}
.movers2{
    display: flex;
}



.about{
    display: flex;

}
.about .more{
    padding-top:0px ;
    padding-bottom:0px ;
    padding-right: 250px;
    padding-left: 0px;
    max-width: 25%;
    margin: auto;
}
.button3{
    color: #F5E83C;
    background-color: black;
    padding: 15px 45px;
    border-radius: 0px 15px 0px 0px;
    border: none;
    
}

.icon{
    height: 200px;
    width: 250px;
}

.container{
    
    align-content: space-between;
    justify-content: space-between;
    background-color: silver;
    padding: 80px 30px 50px 80px;
}
.mover{
    background-color: #fff;
    padding: 0px 0px 10px 0px;
    border-radius: 10%;
}

.mover1{
    float: left;

   
}

.mover2{
    float: left;
   
}
.movers1{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
}
.movers2{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
}
  
.footer{
    background-color: #171002;
    color: #fff;
    display: flex;

    margin: auto;
    padding: 80px 30px 80px 30px;
}

.child{
    align-content: center;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
  
}

hr{
    height: 30px ;
    width: 2px ;
    background-image: linear-gradient(to right, yellow , black);
    padding-right: 100px;
    display: inline;
}
.child ul{
    text-align: center;
    list-style: none;
}

