*{
    font-family: 'poppins' 'Actor' 'Adamina';
    
}
.hero{
    background-color: #241803;
    color: white;
    
}

button{
    background-color: yellow;
    border: none;
    border-radius: 0px 10px 0px 0px;
    padding: 10px 20px 10px 20px;
}
.nav{
    float: right;
    padding-right: 180px;
}
.hero .nav ul{
    display: flex;
}

.hero .nav li{
    list-style: none;
    padding-left: 50px;
}
.details{
    display: flex;
    padding: 50px 30px 10px 120px;
    justify-content: space-between;
       
}

.details .price2{
    float: left;
   padding-left: 850px;
    
    
}

.details .price{
    
}
.form{
    background-color: #F5F5F5;
    padding-top: 30px;
    
   
    
}

.form .image1{
    height: 500px;
    width: 800px;
    padding-left: 100px;

}
.form .contact img{
    height: 50px;
    width: 80px;
    border-radius: 100%;
    

}
.message{
    display: flex;
    
    justify-content: space-around;
    
}
.contact{
    padding: 50px 50px 0px 50px;
    box-shadow: 0 0 20px #ccc;
    background-color: white;
    border-radius: 10%;
    margin-right: 200px;
    
    
}
.avatar{
    display: flex;
    
    
}

.similar{
    display: flex;
    padding: 30px 0px 0px 100px ;
    justify-content: space-between;

}


.footer{
    background-color: #241803;
    color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

.career{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 120px;
    
}

.last{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
.child{
    float: left;

}
.last .child ul{
    list-style: none;
    
}
.farLeft{
    margin-right: 520px ;
}
.farLeft .similar img{
    height: 100px;
    width: 100px;
}

.read{
    background-color: white;
    margin-left: 100px;
    border-radius: 10%;
    
}
.read li{
    list-style: none;
    
    
}
.read ul{

}
.description{
    background-color: white;
    margin-left: 100px;
}
.features{
    display: flex;
    justify-content: space-evenly;
    
}
.features li{
    list-style: square;
}
 .child1{
    float: left;
    
}
.mainFeat{
    margin-left: 100px;
    background-color: white;
}

.listings{
    
    margin-left: 100px;
    margin-bottom: 30px;
}
.parent{
    display: flex;
    
    justify-content: space-evenly;
    
}
.child3 img{
    height: 200px;
    width: 200px;


}
.child3{
    background-color: white;
    border-radius: 10%;
    
}
.linegradient {
    width: 160px;
    height: 5px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(30deg, rgb(221, 189, 7) 10%, rgb(29, 21, 1) 100%);
}